:root {
    --blue:#2A4DD0;
    --green:#4CA154;
    --nav-color:#111729;
    --bg-color:#F2F9FE;
    --h1color:#223344;
}

body {
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    height: 100vh;
}

li {
    list-style: none;

}
a {
    font-size: 1.125rem;
    color: var(--nav-color);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
a:hover {
    color: var(--blue);
    text-decoration: underline;
    text-underline-offset: 4px;
}
/* logo section  */
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.logo-test{
    background-color: var(--blue);
    height: 25px;
    width: 25px;
    border-radius: 5px;
    transform: rotate(45deg);
    z-index: 1;
}
.logo-test2{
    background-color: var(--green);
    height: 25px;
    width: 25px;
    border-radius: 5px;
    transform: rotate(45deg);
    margin-left: -10px;
}
.logo h2 {
    color: var(--nav-color);
    font-size: 2rem;
    margin-left: 1rem;
}
/* end of logo section  */
/* start of vertical nav  */
nav {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    width: 60px;
    height: 30px;
    padding: 2px 5px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.switch img {
    width: 20px;
}
.switch .Moon_fill_light {
    position: absolute;
    left: 5px;
}
.switch .Sun_fill {
    position: absolute;
    right: 10px;
    background-color: var(--bg-color);
    border-radius: 50%;
}

/* end of :horizontal nav  */
.side-bar {
    width: 60%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}

.side-bar a {
    font-size: 2.5rem;
}
.side-bar li:nth-child(2) {
    margin-top: 3.5rem;
}
.cancel {
    margin-top: 25px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.body {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.text-body{
    width: 50%;

}
.text-body p,h1 {
    line-height: 6rem;
    max-width: 400px;
}
.top {
    margin-bottom: 10px;
}
.bottom {
    margin-top: 10px;
    margin-bottom: 20px;
}
.body-text p {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--nav-color);
}

.text-center h1{
    font-size: 3.75rem;
    color: var(--h1color);
}
.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
.buttons button {
    border: none;
    background-color: var(--blue);
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.125rem;
}

.buttons a {
    font-size: 1.125rem;
    color: var(--blue);
}
.check{
    display: flex;
    align-items: center;
    gap: 50px;
}
.check p {
    font-size: 0.875rem;
}

.benefit {
    display: flex;
    align-items: center;
    gap: 10px;

}

.benefit-icon {
    width: 24px;
    height: 24px;
}
.benefit-icon img {
    width: 100%;
    height: 100%;
}


.svg-center {
    width: 50%;

}

#hamburger,#cancel {
    display: none;
    cursor: pointer !important;
}
@media (max-width:640px) {
    
    body{
        padding: 10px 10px 50px 10px;
    }


    nav .nav {
        display: none;
    }
    nav #hamburger {
        display: block;
    }
    nav a {
        cursor: pointer;
    }


    .body {
        width: 100%;
        height: 100vh;
        max-width: 640px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0 auto;
        /* padding-bottom: 50px; */
    }
    

    .svg-center {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .svg-center img{
        content: url(./resources/hero-image-simple-homepage@2x.png);
        width: 70%;
        padding: 0;
        margin: 0 auto;
    }
    .switch {
        display: none;
    }
 
  
    .cancel {
        display: block;
    }
    .check{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    .text-center h1{
        font-size: 2.75rem;
        color: var(--h1color);
    }
    .text-body p,h1 {
        line-height: 4rem;
        max-width: 600px;
    }

}
@media (max-width:1024px) {

    body{
        padding: 10px 50px;
    }

    .nav{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .body {
        width: 100%;
        max-width: 1024px;
        display: flex;
        justify-content: center;
    }

    .svg-center img{
        content: url(./resources/hero-image-simple-homepage@2x.png);
        width: 100%;
        padding-top: 100px;
    }

    #hamburger {
        display: none;
    }
}
