:root {
    --heading-size: 3.75rem;
    --heading-color: #223344;
    --body-size: 1.125rem;
    --btn-text-size: 1rem;
    --smal-text-size: 0.875rem;
    --btn-color: #2a4dd0;
    --logo-secondary-color: #4ca154;
    --color-gray: #909193;
    --dark-bg-color: #111729;
    --light-bg-color: #f2f9fe;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100vh;
    padding: 1rem 3.5rem;
    background-color: var(--light-bg-color);
    position: relative;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;  }


    img {
      max-width: 100%;
    }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;
    position: relative;
  }
  .logo span::before,
  .logo span::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
    border-radius: 3px;
  }

  .logo span::before {
    position: absolute;
    background-color: var(--logo-secondary-color);
    top: 25%;
    left: 0;
    z-index: 99;
  }
  .logo span::after{
    position: absolute;
    background-color: var(--btn-color);
    top: 25%;
    left: 6%;
  }
  .logo h1 {
    font-size: 2rem;
    margin-left: 3rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1.75rem,2vw,3.5rem);
  }
  a {
    font-size: var(--body-size);
    font-weight: 600;
    text-decoration: none;
    color: var(--heading-color);
  }
   a:hover {
    color: #2a4dd0;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
  }
  li {
    list-style: none;
  }

  .theme-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60px;
    height: 28px;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    border-radius: 14px;
    padding: 2px 5px;
    position: relative;
    cursor: pointer;
  }

  .moon {
    display: flex;
    align-items: center;
  }
  .sun {
    display: flex;
    align-items: center;
    background-color: var(--light-bg-color);
    border-radius: 50%;
  }

  .mobile-view {
    width: 60%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .mobile-view a {
    font-size: 2.5rem;
}
.mobile-view li:nth-child(1) {
    margin-top: 6rem;
}
.mobile-view li {
    padding-bottom: 3.5rem;
}
.cancel {
    margin-top: 25px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

 .hamburger {
    display: none;
    cursor: pointer;
  }


  .main {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
  }
  .text-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .heading p {
    font-size: var(--body-size);
    font-weight: 600;
    margin-block: 2rem;
  }
   .heading .top {
    margin-top: 0;
  }
  .heading h1 {
    font-size: var(--heading-size);
    font-weight: bold;
    color: var(--heading-color);
    
  }


.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}
.buttons .blue-btn {
    display: flex;
    align-items: center;
}
.blue-btn button {
    border: none;
    background-color: var(--btn-color);
    padding: 15px 32px;
    font-size: var(--btn-text-size);
    font-weight: 600;
    color: var(--light-bg-color);
    font-family: "Poppins", sans-serif;  
    text-transform: uppercase;
    border-radius: 1rem;
}

.check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.benefit {
    display: flex;
    align-items: center;
    gap: 10px;
}
.benefit p {
    font-size: var(--smal-text-size);
}
.benefit-icon {
    width: 24px;
    height: 24px;
}
.benefit-svg {
    width: 100%;
    height: 100%;
}


  @media (max-width:660px) {
    body {
        padding: 1rem 10px;
    }
    .nav-ul,.theme-toggle {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
    .text-content {
        width: 100%;
        order: 2;
    }
    .heading h1 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--heading-color);
        
    }
    .logo span::before,
    .logo span::after {
      position: absolute;
      content: "";
      width: 1.5rem !important;
      height: 1.5rem !important;
      transform: rotate(45deg);
      border-radius: 3px;
    }
  
    .logo span::before {
      position: absolute;
      background-color: var(--logo-secondary-color);
      top: 25% !important;
      left: 0;
      z-index: 99;
    }
    .logo span::after{
      position: absolute;
      background-color: var(--btn-color);
      top: 25% !important;
      left: 6%;
    }
    .logo h1 {
      font-size: 2rem !important;
      margin-left: 3rem !important;
    }

    
  }

  @media (max-width:1024px) {
    body {
      padding: 20px;
    }

    .text-xxl {
      font-size: 2.75rem !important;
      font-weight: bold;
    }
  
    .text-body {
        font-size: 0.875rem !important;
      
    }
    
    .text-button {
        font-size: 0.875rem !important;
    }
    
    .text-sm {
        font-size: 0.75rem !important;

    }
    .logo span::before,
    .logo span::after {
      position: absolute;
      content: "";
      width: 1rem;
      height: 1rem;
      transform: rotate(45deg);
      border-radius: 3px;
    }
    .logo span::before {
      position: absolute;
      background-color: var(--logo-secondary-color);
      top: 20%;
      left: 0;
      z-index: 99;
    }
    .logo span::after{
      position: absolute;
      background-color: var(--btn-color);
      top: 20%;
      left: 6%;
    }
    .logo h1 {
      /* font-size: 1rem; */
      margin-left: 2rem;
    }
  }
